# Use Gunicorn from the djangonew branch, till they support Django 1.4
https://github.com/benoitc/gunicorn/zipball/djangonew
gevent
pytz
vobject
psycopg2
gevent-psycopg2==0.0.3
python-dateutil==1.5
django-registration
https://bitbucket.org/andrewgodwin/south/get/fcf464bd036f.zip
http://www.djangoproject.com/download/1.4/tarball/
-e git://github.com/apollo13/django-rcal.git#egg=django-rcal
-e git://github.com/apollo13/django-rcal-registration.git#egg=django-rcal-registration
django-notification
raven>=1.4.6
